{% extends 'base.html.twig' %}

{% block title %}Logement index{% endblock %}

{% block body %}
    <h1>Logement index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Localisation</th>
                <th>Prix</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for logement in logements %}
            <tr>
                <td>{{ logement.id }}</td>
                <td>{{ logement.titre }}</td>
                <td>{{ logement.description }}</td>
                <td>{{ logement.localisation }}</td>
                <td>{{ logement.prix }}</td>
                <td>
                    <a href="{{ path('app_logement_show', {'id': logement.id}) }}">show</a>
                    {% if app.user == logement.owner %}
                        <a href="{{ path('app_logement_edit', {'id': logement.id}) }}">edit</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_logement_new') }}">Create new</a>
{% endblock %}
