{% extends 'base.html.twig' %}

{% block title %}Logements
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="my-4">Logements</h1>
    <button class="btn btn-primary"><a style="color:white;padding:4px;margin:4px;" href="/logement/new">Ajouter Logement</a> </button>
		<br></br>
        <div class="row">
			{% for logement in logements %}
				<div class="col-md-4 mb-4 ">
					<div class="card" style="border: 1px solid #e0e0e0; background-color: transparent;">
						<a href="{{ path('app_logement_show', {'id': logement.id}) }}">
							{% if logement.image starts with 'http' %}
								<img src="{{ logement.image }}" class="card-img-top" alt="{{ logement.titre }}" style="transition: transform 0.3s ease;">
							{% else %}
								<img src="{{ asset('uploads/images/' ~ logement.image) }}" class="card-img-top" alt="{{ logement.titre }}" style="transition: transform 0.3s ease;">
							{% endif %}
						</a>
						<div class="card-body">
							<h5 class="card-title px-3">{{ logement.titre }}</h5>
							<p class="card-text px-3">{{ logement.description }}</p>
							<ul class="list-group list-group-flush">
								<li class="list-group-item">
									<strong>Localisation:</strong>
									{{ logement.localisation }}</li>
								<li class="list-group-item text-success" style=" font-size: 1.4em;">
									<strong>Prix:</strong>
									{{ logement.prix }}
									€
								</li>
							</ul>
						</div>
					</div>
				</div>
			{% else %}
				<div class="col-12">
					<div class="alert alert-info" role="alert">
						Aucun logement trouvé.
					</div>
				</div>
			{% endfor %}
		</div>
	</div>

	<style>
		.card-img-top:hover {
			transform: scale(1.05);
			cursor: pointer;
		}
	</style>

{% endblock %}
